.component3-container {
  display: flex;
  position: relative;
}
.component3-text {
  padding: var(--dl-space-space-fourunits);
  z-index: 100;
  font-size: 1.3rem;
  max-width: 450px;
  min-width: 400px;
  font-family: Nunito;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  background-image: linear-gradient(90deg, rgba(235, 255, 213, 0.52) 1%, rgba(177, 220, 255, 0.38) 99%);
}
.component3-text1 {
  font-size: 2rem;
}
.component3-text2 {
  color: var(--dl-color-danger-700);
  font-size: 2rem;
}
.component3-text3 {
  font-size: 2rem;
}
.component3-text7 {
  font-style: normal;
  font-weight: 300;
}
@media(max-width: 991px) {
  .component3-text {
    font-size: 1.3rem;
    min-width: var(--dl-size-size-xxlarge);
    text-align: left;
    font-family: Nunito;
  }
  .component3-text4 {
    font-size: 2rem;
  }
  .component3-text5 {
    font-size: 2rem;
  }
  .component3-text6 {
    font-size: 2rem;
  }
  .component3-text7 {
    font-style: normal;
    font-weight: 300;
  }
}
@media(max-width: 767px) {
  .component3-text {
    min-width: var(--dl-size-size-xxlarge);
    text-align: left;
  }
}
@media(max-width: 479px) {
  .component3-text {
    font-size: 2rem;
    min-width: auto;
    font-family: Nunito;
  }
  .component3-text4 {
    font-size: 1.3rem;
  }
  .component3-text5 {
    font-size: 1.3rem;
  }
  .component3-text6 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
  }
  .component3-text7 {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
  }
}
